@tailwind base;
@tailwind components;
@tailwind utilities;

.blend-multiply {
    mix-blend-mode: multiply;
}

html, body {
  font-family: "Karla", sans-serif;
}

   /* Old Blog Post Page */

/* .drop-cap:first-letter {
    font-size: 5rem;
    float: left;
    line-height: 2rem;
    @apply font-karla;
    @apply text-primary;
    @apply mr-4;
    @apply my-8;
} */

heading {
  @apply text-gold_300;
  @apply pb-5;
}

paragraph {
  @apply text-gold_300;
  @apply pb-5;
}

.bg-white-half {
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, transparent 50%)
}

blockquote {
    @apply text-4xl;
    @apply text-primary;
    @apply font-bold;
    @apply font-karla;
    @apply py-12;
    @apply text-center;
    @apply text-gold_300
}

/* Checkbox  */

.group {
    padding: 8px 48px;
    margin: 8px;
  }

input[type="checkbox"] {
    display: none;
  }
  
  label {
    position: relative;
  }

  .unchecked {
    background-color: white;
    color: black;
  }
  
  .checked {
    background-color: #66A6BD;
    color: white;
  }

/* Navbar dropdown color */

#collasible-nav-dropdown {
    color: white;
}

#collasible-nav-dropdown:hover {
  color: #E0B581;
}

#no-underline {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

/* hide extended navbar when reach 1200px */
@media screen and (max-width: 1200px) {
  #navDesktop {
    display: none;
  }
}

/* hide mobile navbar when reach 1200px */

@media screen and (min-width: 1200px) {
  #navMobile {
    display: none;
  }
}

/* Success Image */

#successImage {
  
  width: 182.52px;
  height: 120px;
}

#carouselHeight {
  height: 640px;
}

.slideHeight {
  height: 640px;
}

#responsive-navbar-nav {
  justify-content: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "@fontsource/karla";